
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/*
/assets/vendor/
!/public/assets/css/
!/public/assets/css/artkids-theme.css
!/public/assets/css/artkids-forms.css
!/public/assets/css/artkids-animations.css
!/public/assets/js/
!/public/assets/js/artkids-ui.js
###< symfony/asset-mapper ###
